<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Secondary School Certificate</h1>
            <a href="https://www.somaiya.edu.in/en" target="_blank">
                <img src="../../assets/Images/download (1).png" alt="">
            </a>
            <span> SK Somaiya Vinay Mandir</span>
            <p>Year : MARCH-2013</p>
            <p>Percentage : 81.40%</p>
            <a href="../../assets/Docs/SSC Certificate.pdf" download="SSC Certificate">
                <button type="button" class="btn btn-primary btn-lg">Download Certificate</button><br><br>
            </a>
            <h1>Higher Secondary School Certificate</h1>
            <a href="https://www.somaiya.edu.in/en" target="_blank">
                <img src="../../assets/Images/download (1).png" alt="">
            </a>
            <span> KJ Somaiya College of Sciene & Commerce</span>
            <p>Year : FEB-2015</p>
            <p>Percentage : 52.60%</p>
            <a href="../../assets/Docs/HSC Certificate.pdf" download="HSC Certificate">
                <button type="button" class="btn btn-primary btn-lg">Download Certificate</button><br><br>
            </a>
        </div>
        <div class="col">
            <h1>Bacholer of Science (IT)</h1>
            <a href="https://www.somaiya.edu.in/en" target="_blank">
                <img src="../../assets/Images/download (1).png" alt="">
            </a>
            <span> Aurobindo</span>
            <p>Year : FEB-2015</p>
            <p>CGPA : 52.60%</p>
            <a href="../../assets/Docs/HSC Certificate.pdf" download="HSC Certificate">
                <button type="button" class="btn btn-primary btn-lg">Download Certificate</button><br><br>
            </a>
            <h1>MEAN Stack Development Course</h1>
            <a href="https://itlh.in/" target="_blank">
                <img class="itlh" src="../../assets/Images/logo1.png" alt="">
            </a>
            <span> Year : APR-2020</span><br><br>
            <div>
                <a href="../../assets/Docs/Jigar_MS (1).pdf" download="ITLH Certificate">
                    <button type="button" class="btn btn-primary btn-lg">Download Certificate</button><br><br>
                </a>
            </div>
        </div>
    </div>
</div>