<div class="row">
    <div class="col">
        <img class="profilePic" src="../../assets/Images/0.jpg" alt="">
    </div>
    <div class="col">
        <i class="fa fa-user" aria-hidden="true"> Jigar Fulia</i><br><br>
        <i class="fa fa-calendar" aria-hidden="true"> 31/12/1997</i><br><br>
        <i class="fa fa-phone" aria-hidden="true"> 7021511824</i><br><br>
        <i class="fa fa-envelope" aria-hidden="true"> fjstar31@gmail.com</i><br><br>
        <i class="fa fa-home" aria-hidden="true"> Dombivli, India</i><br><br>
        <p>
            Seeking for job opportunity for profile
            Front-end Web developer. I would like to
            be a part of an organization where I could
            use and enhance my knowledge and talent
            for the development of both the
            organization and myself.
        </p>
    </div>
    <div class="col">
        <h1>Skills</h1>
        <a class="angular" href="https://angular.io/" target="_blank">
            <img class="skills" src="../../assets/Images/file_type_angular_icon_130754.png" alt="">
            <span class="angular"> Angular</span><br>
        </a>
        <a class="react" href="https://reactjs.org/" target="_blank">
            <img class="skills" src="../../assets/Images/react_original_logo_icon_146374.png" alt="">
            <span class="react"> React</span><br>
        </a>
        <a class="bootstrap" href="https://getbootstrap.com/" target="_blank">
            <img class="skills" src="../../assets/Images/bootstrap_plain_logo_icon_146619.png" alt="">
            <span class="bootstrap"> Bootstrap</span><br>
        </a>
        <a class="javascript" href="https://www.javascript.com/" target="_blank">
            <img class="skills" src="../../assets/Images/javascript_icon_130900.png" alt="">
            <span class="javascript"> JavaScript</span><br>
        </a>
        <a class="html" href="https://html.com/" target="_blank">
            <img class="skills" src="../../assets/Images/file_type_html_icon_130541.png" alt="">
            <span class="html"> HTML</span><br>
        </a>
        <a class="css" href="https://www.w3schools.com/css/" target="_blank">
            <img class="skills" src="../../assets/Images/file_type_css_icon_130661.png" alt="">
            <span class="css"> CSS</span><br>
        </a>
    </div>
</div>