<div class="row">
    <div class="col">
        <img class="profilePic" src="../../assets/Images/0.jpg" alt="">
    </div>
    <div class="col">
        <i class="fa fa-user" aria-hidden="true"> Jigar Fulia</i><br><br>
        <i class="fa fa-calendar" aria-hidden="true"> 31/12/1997</i><br><br>
        <i class="fa fa-phone" aria-hidden="true"> 7021511824</i><br><br>
        <i class="fa fa-envelope" aria-hidden="true"> fjstar31@gmail.com</i><br><br>
        <i class="fa fa-home" aria-hidden="true"> Dombivli, India</i><br><br>
        <p>
            Seeking for job opportunity for profile
            Front-end Web developer. I would like to
            be a part of an organization where I could
            use and enhance my knowledge and talent
            for the development of both the
            organization and myself.
        </p>
    </div>
    <div class="col">
        <h1>Skills</h1>
        <img class="skills" src="../../assets/Images/file_type_angular_icon_130754.png" alt="">
        <span> Angular</span><br>
        <img class="skills" src="../../assets/Images/react_original_logo_icon_146374.png" alt="">
        <span> React</span><br>
        <img class="skills" src="../../assets/Images/bootstrap_plain_logo_icon_146619.png" alt="">
        <span> Bootstrap</span><br>
        <img class="skills" src="../../assets/Images/javascript_icon_130900.png" alt="">
        <span> JavaScript</span><br>
        <img class="skills" src="../../assets/Images/file_type_html_icon_130541.png" alt="">
        <span> HTML</span><br>
        <img class="skills" src="../../assets/Images/file_type_css_icon_130661.png" alt="">
        <span> CSS</span><br>

    </div>
</div>