.row {
  margin-top: 20px;
}
.profilePic {
  border-radius: 200px;
  padding-left: 10px;
}
i {
  color: white;
  font-size: 40px;
}
p {
  color: white;
  font-size: 20px;
}
h1 {
  color: white;
}
.skills {
  size: 2px;
}
span {
  font-size: 30px;
  color: white;
}
.angular:hover {
  color: #dc3545;
}
.react:hover {
  color: aqua;
}
.bootstrap:hover {
  color: rgb(82, 82, 231);
}
.javascript:hover {
  color: yellow;
}
.html:hover {
  color: rgb(247, 111, 62);
}
.css:hover {
  color: #17a2b8;
}
.angular,
.react,
.bootstrap,
.javascript,
.html,
.css {
  text-decoration: none;
}
