<div class="row">
    <div class="col">
        <a class="atrihover" href="https://atriina.com/" target="_blank">
            <img class="atrina" src="../../assets/Images/atrina_favicon.png" alt="">
            <h1 class="atrihover"> ATRINA</h1>
        </a>
        <p>Atrina Technologies PVT LTD</p>
        <p>Completed 6 months internship as front-end developer at Atrina Technologies.
            Here i built the front-end side of the live project with the help of
            Angular.
        </p>
        <a href="../../assets/Docs/Jigar's Resume (1).pdf" download="Internship Certificate">
            <button type="button" class="btn btn-primary btn-lg">Download Certificate</button><br><br>
        </a>
        <p>Worked on Project</p>
        <a href="https://marico.com/" target="_blank">
            <img class="atrina" src="../../assets/Images/1200px-Marico_Logo.svg.png" alt="">
        </a>
    </div>
    <div class="col">
        <a class="devhover" href="https://www.devarena.in/" target="_blank">
            <img class="atrina" src="../../assets/Images/logo.fe533b2a.png" alt="">
            <h1 class="devhover">Devarena Solutions</h1>
        </a><br>

        <p>Working as freelancer at Devarena Solutions. Here i am
            designing websites with the help of React material UI .
        </p>
        <p>Worked on Projects</p>
        <a href="https://revaintl.com/" target="_blank">
            <img class="reva" src="../../assets/Images/reva_logo.0417c85f.png" alt="">
        </a>
        <a href="http://rbluntsalon.com/" target="_blank">
            <img class="reva" src="../../assets/Images/download.png" alt="">
        </a>
    </div>
</div>