.atrina {
  width: 80px;
}
.col {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}
h1 {
  color: white;
  display: inline;
}
p {
  color: white;
  font-size: 30px;
}
.reva {
  width: 200px;
}
.atrihover:hover {
  color: #007bff;
}
.atrihover {
  text-decoration: none;
}
.devhover:hover {
  color: orange;
}
.devhover {
  text-decoration: none;
}
