.atrina {
  width: 80px;
}
.col {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}
h1 {
  color: white;
  display: inline;
}
p {
  color: white;
  font-size: 30px;
}
.reva {
  width: 170px;
}
