<div class="row ">
    <div class="col padding">
        <img src="../../assets/Images/430910.png" class="img-fluid float-start" style="height: 612px;">
    </div>
    <div class="col text-typing padding">
        <p>I'm Jigar Fulia <br> A Front-end Developer.</p><br>
        <a href="../../assets/Docs/Jigar's Resume (1).pdf" download="Resume">
            <button type="button" class="btn btn-success btn-lg">Download Resume</button><br><br>
        </a>
        <div>
            <a href="https://www.linkedin.com/in/jigarfulia/" target="_blank" class="fa fa-linkedin icons"></a>
            <a href="https://github.com/FJSTAR" target="_blank" class="fa fa-github icons"></a>
        </div>
    </div>
</div>